### Introduction
### 1. Business Overview
Real Estate Investment Firms provide comprehensive investment advisory services, including market research, property analysis, due diligence, financial modeling, and portfolio management.
Our goal is to optimize investment decisions, mitigate risks, and ensure long-term success.

The primary focus of this project is to identify opportunities in real estate markets and capitalize them to generate significant profits. We will carefully assess and mitigate risks associated with each investment in relation to zipcodes, based on some factors like market volatility.
We will conduct a market analysis to identify areas of high demand and growth for optimal investment and prioritize investments with the potential substantial returns based on factors like property appreciation and market demand.

With long term value our investement strategies will focus on the ability to generate consistent cashflows overtime. Real Estate Firms can achieve a long-term partnerships with clients by achieving their financial objectives through successful real estate investments.

### 1. Problem Statement.

At Matawi Real Estate Investment firm we seek to identify the top five zip codes for potential investment opportunities. The firm aims to maximize return on investment by strategically selecting zip codes that exhibit strong growth potential and promising real estate market conditions. By leveraging data from Zillow Research,our  firm intends to make data-driven investment decisions and optimize investment portfolio.

The investment firm needs to determine the top five zip codes that present the best investment opportunities based on real estate market trends and historical data. We will conduct a comprehensive analysis of various factors, such as past price trends, growth rates, market demand, and other relevant indicators to identify zip codes with the highest potential for future price appreciation.

### 2. Objectives
  main objective: 
 - The main objective is to develop a forecasting model that can accurately predict real estate price movements in different zip codes and assist in identifying the most favorable locations for investment between the period of April 1996 to April 2018. 

specific objectives: 
-  To assess and mitigate potential risks associated with market volatility and economic fluctuations.
- To Utilize time series analysis techniques to identify underlying patterns, trends, and seasonality in the real estate price data
- To Build a time series predictive model that can forecast real estate prices for various zip codes
- To Evaluate the forecasting model's performance by comparing its predictions against actual real estate prices

# Success Metrics.
For the success creterion we will use the *" Root mean squared  error "* and measure accuracy of our models. 
We shall be aiming at an RMSE value of between 0.2 and 0.5.
This indicates that we  want the predictions to be reasonably close to the actual values, with an acceptable level of error.

During the model training and evaluation process, you will calculate the RMSE for each model and compare it to your target range. Here's how we would interpret the results:

If the RMSE is below 0.2: This indicates excellent performance, as the predictions have a very small average error compared to the actual values. It suggests that our  model is accurate and reliable.

If the RMSE is between 0.2 and 0.5: This falls within our  target range and suggests that our model is performing well. It means that, on average, the predictions are within a reasonable distance from the actual values.

If the RMSE is above 0.5: This suggests that your model's performance may not be satisfactory. The predictions have a relatively larger average error compared to the actual values. We may need to further improve your model or explore alternative approaches to achieve better accuracy.

### 2. Data Understanding

The dataset used in this project consists of historic median house prices from various regions in the USA. It covers a time period of 22 years, specifically from April 1996 to April 2018. The dataset was obtained from the [Zillow website.](https://www.zillow.com/research/data/)

Here are the key details about the dataset:

* It contains 14,723 rows and 272 columns.
* Out of the 272 columns, 4 columns are categorical, while the rest are numerical.

The columns are described as follows:
> RegionID: A unique identifier for each region.

> RegionName: The names of the regions, represented by zip codes.

> City: The corresponding city names for each region.

> State: The names of the states where the regions are located.

> Metro: The names of the metropolitan areas associated with the regions.

> County Name: The names of the counties where the regions are situated.

> Size Rank: The ranking of the zip codes based on urbanization.

> Date Columns (265 Columns): These columns represent different dates and provide median house prices for each region over the years.

### 3. Data Preparation

In [1]:
# importing the Libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Previewing the dataset.
df = pd.read_csv('/content/zillow_data.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: '/content/zillow_data.csv'

In [ ]:
# A function to analyze the shape, number of columns, and information of the dataset
def analyze_dataset(df):
    """
    This function  outputs information about the shape,
    columns, and information of the dataset using the Pandas library.
    """
    # Output the shape of the dataset
    print("Shape of dataset:", df.shape)
    print('\n-----------------------------------------------------------')

    # Output the column names of the dataset
    print("Column names:", list(df.columns))
    print('\n-----------------------------------------------------------')

    # Output information about the dataset
    print(df.info())
    print('\n-----------------------------------------------------------')

    # output descriptive statistics about the dataset
    print(df.describe())
    print('\n-----------------------------------------------------------')

In [ ]:
analyze_dataset(df)

The dataset has 14723 rows and 272 columns,4 categorical and the rest are numerical

In [ ]:
#Checking for duplicates and missing data
def cleaning(data):
    "This is a simple function to get missing and duplicated values"
    missing = data.isna().sum().sum()
    duplicated = data.duplicated().sum()
    return (f"There are '{missing}' missing values and '{duplicated}' duplicated values in the dataset")

In [ ]:
cleaning(df)

In [ ]:
# Creating a dataframe to display datatypes and, the unique values.
desc = []
for i in df.columns:
    desc.append([
        i,
        df[i].dtypes,
        df[i].nunique(),
    ])

pd.DataFrame(data = desc, columns=['Feature','Dtypes','Sample_Unique'])

In [ ]:
def missing_values_percentage(df):
    total_missing = df.isnull().sum().sum()
    total_cells = df.size
    percentage_missing = (total_missing / total_cells) * 100
    return percentage_missing

missing_values_percentage(df)

The missing values are 3.94% of the entire dataset.Let's preview the percentage of the missing values per column.

In [ ]:
missing_values = df.isnull().mean() * 100

# Print the list of columns in the DataFrame along with their missing percentages
for column in missing_values.index:
    print(column, missing_values[column])

The percentage of the missing values per column is still low ranging from 1%-7% thus we chose to fill the missing values for the metro column with missing then dropping the missing values in the date columns.

In [ ]:
## Fill the `metro` column with the word "missing"
df['Metro'].fillna('missing', inplace=True)

## Handling the date columns' missing values
df.dropna(inplace=True)
missing_values_percentage(df)

In [ ]:
print(missing_values_percentage(df))
print(cleaning(df))

The dataset doesn't have any missing values or any duplicates. Since region ID is the unique identifier, let's check if there is any duplicates in that column.

In [ ]:
df[df['RegionID'].duplicated(keep=False)]

The data doesn't have any duplicated ID.

In [ ]:
def check_value_counts(data):
    for column in data.columns:
        print(f'value counts for {column}')
        print(data[column].value_counts())
        print('------------------------------------------','\n')

check_value_counts(df)

The data doesn't have any data inconsistencies.

### Feature engineering

In [ ]:
#rename RegionName column to Zipcode
df.rename(columns={'RegionName':'ZipCode'}, inplace=True)

In [ ]:
#convert Zipcode column values to string
df.ZipCode = df.ZipCode.astype('string')

In [ ]:
print(df.ZipCode.min())

In [ ]:
# The zipcodes need to be 5 digits long, so a zero will be added to the ones that have four digits
df['ZipCode'] = df['ZipCode'].str.zfill(5)


In order to address the issues identified in the business understanding phase, two new columns will be generated: one for calculating the return on investment (ROI) and another for determining the coefficient of variation. The coefficient of variation measures the extent of data point dispersion around the mean and indicates the ratio of standard deviation to the mean. This enables investors to evaluate the level of risk involved relative to the ROI.

In [ ]:
# Calculating and creating a new column - ROI
df['ROI'] = (df['2018-04'] / df['1996-04']) - 1

# Calculating standard deviation (std) to be used for CV
df["std"] = df.loc[:, "1996-04":"2018-04"].std(skipna=True, axis=1)

# Calculating mean to be used for CV
df["mean"] = df.loc[:, "1996-04":"2018-04"].mean(skipna=True, axis=1)

# Calculating and creating a new column - CV
df["CV"] = df['std'] / df["mean"]

# Dropping std and mean columns as they are not necessary for analysis
df.drop(["std", "mean"], inplace=True, axis=1)

In [ ]:
df

## 4. Exploratory Data Analysis

In [ ]:
melted_df = df.copy()# creating a copy of the dataset

The original dataset has 265 datetime columns which makes it challenging to do any data analysis and visualization. We'll melt the dataframe so that the dates are in one column and have the values in one column.

In [ ]:
def melt_data(df):

    melted = pd.melt(df, id_vars=['ZipCode', 'RegionID', 'SizeRank', 'City', 'State', 'Metro', 'CountyName','ROI','CV'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted #.groupby('time').aggregate({'value':'mean'})

melted_df = melt_data(melted_df)
melted_df

In [ ]:
analyze_dataset(melted_df)

The new dataset has 3417175 rows and 11 columns.The data is from 4th April 1996 to 4th April 2018.The house with the lowest price has a price of 11400 dollars and the one with the highest price has a price of 8558700 dollars. The highest ROI on a house is 11.2% and the lowest ROI on a house is -53.3%.

### 4.1 Univariate Analysis

In [ ]:
def plot_value_counts(data, columns, top_n=20):
    """
    Plots bar plots of value counts for the specified columns in the given dataset,
    considering only the top_n items.
    Parameters:
    data (DataFrame): The dataset to analyze.
    columns (list): List of column names to plot value counts for.
    top_n (int): Number of top items to consider (default: 20).
    """

    num_plots = len(columns)
    num_rows = 2
    num_cols = 2
    fig, axes = plt.subplots(num_rows, num_cols, figsize=(12, 8))
    fig.tight_layout()
    for i, column in enumerate(columns):
        row = i // num_cols
        col = i % num_cols
        ax = axes[row, col]
        value_counts = data[column].value_counts().head(top_n)
        sns.barplot(y=value_counts.index, x=value_counts.values, ax=ax)
        ax.set_title(f'Top {top_n} Value Counts of {column}')
        ax.set_xlabel(column)
        ax.set_ylabel('Count')
        ax.tick_params(axis='x', rotation=45)
    # Hide empty subplots if there are any
    if num_plots < num_rows * num_cols:
        for i in range(num_plots, num_rows * num_cols):
            row = i // num_cols
            col = i % num_cols
            fig.delaxes(axes[row, col])
    plt.tight_layout()
    plt.show()

In [ ]:
columns_list = ["City","State","Metro","CountyName"]
plot_value_counts(melted_df, columns_list)

The top 5 cities, states metro and counties with the highest number of houses are:
* cities: New York, Los Angeles, Houston, San Antonio and Washington
* states: CA, NY, TX,PA,FL
* metro: New York, Los Angeles, Chicago, Philadelphia, Washington
* counties: Los Angeles,Jefferson, Orange, Washington, Montgomery

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

def plot_column_distributions(data, columns):
    num_columns = len(columns)
    fig, axes = plt.subplots(num_columns, 2, figsize=(10*2, 6*num_columns))

    for i, column in enumerate(columns):
        ax1 = axes[i, 0]
        ax2 = axes[i, 1]

        # Plot histogram using seaborn
        sns.histplot(data[column], ax=ax1, bins=30, kde=False, edgecolor='black')
        ax1.set_title(f'{column} Distribution (Histogram)', fontsize=16)
        ax1.set_xlabel(column, fontsize=12)
        ax1.set_ylabel('Frequency', fontsize=12)

        # Plot kernel density plot using seaborn
        sns.kdeplot(data[column], ax=ax2, fill=True)
        ax2.set_title(f'{column} Distribution (Kernel Density Plot)', fontsize=16)
        ax2.set_xlabel(column, fontsize=12)
        ax2.set_ylabel('Density', fontsize=12)

    # Adjust the spacing between subplots
    plt.tight_layout()
    plt.show()

In [ ]:
continuous_columns = ['ROI','CV','value']
plot_column_distributions(melted_df, continuous_columns)

> ROI: The distribution is positively skewed.Most of the houses have an ROI between 1% and 2% .It also has a long tail showing that there are outliers, houses with higher ROI impliying higher return.

>Value: The distribution of the house prices is positively skewed showing that most houses are lowly priced and it also has a long tail showing that there are outliers ie the extremely highly priced houses.

> CV:  The plot shows that most of the houses have a cv between 0.1 and 0.3 which shows that their prices are close to the mean thus less risk but it also has a long tail showing that there are outliers, houses with higher cv impliying higher risk.

In [ ]:
def check_outliers(data, columns):
    fig, axes = plt.subplots(nrows=len(columns), ncols=1, figsize=(20,10))
    for i, column in enumerate(columns):
        # Use interquartile range (IQR) to find outliers for the specified column
        q1 = data[column].quantile(0.25)
        q3 = data[column].quantile(0.75)
        iqr = q3 - q1
        print("IQR for {} column: {}".format(column, iqr))        # Determine the outliers based on the IQR
        outliers = (data[column] < q1 - 1.5 * iqr) | (data[column] > q3 + 1.5 * iqr)
        print("Number of outliers in {} column: {}".format(column, outliers.sum()))        # Create a box plot to visualize the distribution of the specified column
        sns.boxplot(data=data, x=column, ax=axes[i])
plt.show()

num=melted_df.select_dtypes('number')
columns=num.columns
check_outliers(melted_df, columns)

The box plots shows that there are outliers in the dataset especially in the prices(value) column which shows there are some houses that are highly priced which might provide useful information for the analysis, thus we won't remove the outliers.

### 4.2 Bivariate Analysis

In [ ]:
def scatter_plot(x,y, x_label, y_label):
  plt.scatter(x,y)
  plt.xlabel(x_label)
  plt.ylabel(y_label)
  plt.title(f'Relationship between {x_label} and {y_label}')
  plt.show();

scatter_plot(melted_df['ROI'],melted_df['CV'],'ROI','CV')

The plot shows the relationship between the return on investment and the coefficient of variation. It shows that the two have a strong positive relationship, that is, that increase in CV leads to increase in ROI and vice versa. This implies that the higher the risk, the higher the return.

Since the two have such a strong relationship, findings using ROI will be similar to those using CV . Let's examine how the other variables are related to ROI.

In [ ]:
def plot_bivariate_analysis(data, x_column, y_column, top_n=20):

    top_categories = data[x_column].value_counts().nlargest(top_n).index
    data_top = data[data[x_column].isin(top_categories)]

    plt.figure(figsize=(10, 8))
    for category in top_categories:
        category_data = data_top[data_top[x_column] == category]
        plt.scatter(category_data[x_column], category_data[y_column], label=category)

    plt.title(f'Bivariate Analysis: {x_column} vs {y_column}')
    plt.xlabel(x_column)
    plt.ylabel(y_column)
    plt.xticks(rotation=90)
    plt.legend(title=x_column)
plt.show()
plot_bivariate_analysis(melted_df, 'State', 'ROI')

The above plot shows that the state with the highest return on investment is NY.

In [ ]:
plot_bivariate_analysis(melted_df, 'CountyName', 'ROI')

The county with the highest ROI is Suffolk.

In [ ]:
plot_bivariate_analysis(melted_df, 'Metro', 'ROI')

The metro with the highest ROI is New york.

In [ ]:
plot_bivariate_analysis(melted_df, 'City', 'ROI')

The city with the highest ROI is NewYork. From the above analysis, we can conclude that properties in NewYork have the highest  return on investment.
Let's analyse the cities, states, metro and counties that have the highest ROI(return) but lowest CV(risk).

In [ ]:
def get_top_rows(data, cv_column, roi_column, value_column, num_rows=10000):
    # Sort the DataFrame based on the value column in descending order,
    # coefficient of variance column in ascending order,
    # and return on investment column in descending order
    sorted_data = data.sort_values([value_column, cv_column, roi_column], ascending=[False, True, False])
    # Get the top N rows
    top_rows = sorted_data.head(num_rows)
    return top_rows# Usage example
top_rows = get_top_rows(melted_df, 'CV', 'ROI', 'value', num_rows=10000)

In [ ]:
top_rows

In [ ]:
plot_value_counts(top_rows, columns_list)

The top 5 cities, states metro and counties with the highest return and lowest risk are:

* cities: San Fransisco, Los Angeles, Newport beach, Beverly Hills and Rancho Santa Fe
* states: CA, NY,FL, CO, NJ
* metro: Los Angeles,San Fransisco,New York, San Jose, San Diego
* counties: Los Angeles,Santa Clara, San Fransisco, Orange, San Mateo

### Multivariate Analysis

In [ ]:
corr_matrix = melted_df.corr()
fig, ax = plt.subplots(figsize=(8,8))

# Set the figure size to 12 inches by 12 inches
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', ax=ax)
plt.title('Correlation Matrix', fontsize=18)
plt.show();


From the heat map, we can observe that most of the features exhibit weak relationships with each other, except for ROI and CV, which display a strong relationship.